.login {
  h2 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 24px;
  }
  &__form {
    form {
      margin: auto;
      max-width: min-content;
      label {
        text-align: left;
      }
      .MuiTextField-root {
        width: 440px;
      }
      .login-button {
        font-weight: 500;
        height: 40px;
        width: 200px;
        text-transform: uppercase !important;
      }
    }
  }
}
